body{
    margin: 0;
}

nav{
   height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: #1e1e1e;
  color: white;
}

#logout{
    background-color: rgb(233, 1, 152);
    padding: 12px 20px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 6px;

    margin-left: auto;
}
#logout:hover{
    cursor: pointer;
    background-color: rgb(205, 7, 136);
}

#logo{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 12px 8px;
}


/* room.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.room-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    justify-content: center;
}

/* Sudoku section */
.sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 500px;
    height: 500px;
    border: 3px solid #000;
}

/* Sudoku cells */
.sudoku-cell {
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

/* Thick borders for 3x3 blocks */
.sudoku-cell:nth-child(3n) {
    border-right: 3px solid #000;
}
.sudoku-cell:nth-child(n + 19):nth-child(-n + 27),
.sudoku-cell:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom: 3px solid #000;
}

/* Sidebar */
.sidebar {
    flex: 1;
    max-width: 250px;
    border-left: 2px solid #ddd;
    padding-left: 20px;
}

#user-list {
    list-style: none;
    padding: 0;
}

#user-list li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

#hint-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}


.numbers-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.num-btn {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    background-color: white;
    border: 1px solid black;
}

.num-btn:hover {
    background-color: rgb(188, 188, 188);
}

.sudoku-cell {
    background-color: white;
}
.sudoku-cell:not(.fixed):hover {
    background-color: rgb(183, 183, 183);
    cursor: pointer;
}
.sudoku-cell.fixed{
    background-color: rgb(243, 243, 243);
}
.sudoku-cell.highlighted {
    background-color: rgb(243, 243, 0);
}
.sudoku-cell.highlighted-friend {
    background-color: rgb(153, 210, 39);
}