body{
    margin: 0;
}

nav{
   height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: #1e1e1e;
  color: white;
}

#logout{
    background-color: red;
    padding: 12px 20px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 6px;

    margin-left: auto;
}
#logout:hover{
    cursor: pointer;
    background-color: rgb(255, 48, 48);
}

#logo{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 12px 8px;
}


.center {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.actions {
  display: flex;
  gap: 16px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background: #4caf50;
  color: white;
  border: none;
}

.secondary {
  background: #2196f3;
  color: white;
  border: none;
}

.rooms-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background: #fafafa;
}

.rooms {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 60px; /* buton alanı için */
}

.create-floating {
  position: absolute;
  right: 12px;
  bottom: 12px;

  background: #4caf50;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 10px 18px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.create-floating:hover {
  background: #43a047;
}


.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 6px;
}


.tag {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.easy {
  background: #c8e6c9;
  color: #2e7d32;
}

.medium {
  background: #fff3cd;
  color: #856404;
}

.hard {
  background: #f8d7da;
  color: #721c24;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 24px;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.hidden {
  display: none;
}


